In [37]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,4,6,5,7,10,6])

In [3]:
s

0     1
1     4
2     6
3     5
4     7
5    10
6     6
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

In [6]:
s.mean()

5.571428571428571

In [7]:
s.median()

6.0

In [8]:
s.max()

10

In [9]:
s.min()

1

In [10]:
s.std()

2.760262237369417

In [12]:
s.sort_values()

0     1
1     4
3     5
2     6
6     6
4     7
5    10
dtype: int64

In [13]:
s.describe()

count     7.000000
mean      5.571429
std       2.760262
min       1.000000
25%       4.500000
50%       6.000000
75%       6.500000
max      10.000000
dtype: float64

In [14]:
df = pd.DataFrame([['fchollet/keras', 11302],['openai/universe',4350],
['pandas-dev/pandas', 8168]])

In [15]:
df

                   0      1
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [16]:
df = pd.DataFrame([['fchollet/keras', 11302],['openai/universe',4350],
['pandas-dev/pandas', 8168]], columns=['repository', 'stars'])

In [17]:
df

          repository  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [19]:
df.columns = ['repo', 'stars']

In [20]:
df

                repo  stars
0     fchollet/keras  11302
1    openai/universe   4350
2  pandas-dev/pandas   8168

In [21]:
df['repo']

0       fchollet/keras
1      openai/universe
2    pandas-dev/pandas
Name: repo, dtype: object

In [22]:
df.iloc(0)

In [23]:
df.iloc[0]

repo     fchollet/keras
stars             11302
Name: 0, dtype: object

In [24]:
df.ix[0]

repo     fchollet/keras
stars             11302
Name: 0, dtype: object

In [50]:
import pydataset

In [27]:
pydataset.data()

,dataset_id,title
0,AirPassengers,Monthly Airline Passenger Numbers 1949-1960
1,BJsales,Sales Data with Leading Indicator
2,BOD,Biochemical Oxygen Demand
3,Formaldehyde,Determination of Formaldehyde
4,HairEyeColor,Hair and Eye Color of Statistics Students
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
...,...,...
672,students,Student Risk Taking
673,suicides,Crowd Baiting Behaviour and Suicides
674,toothpaste,Toothpaste Data
675,voting,House of Representatives Voting Data
676,water,Mortality and Water Hardness
677,watervoles,Water Voles Data
678,waves,Electricity from Wave Power at Sea
679,weightgain,Gain in Weight of Rats
680,womensrole,Womens Role in Society
681,Bechtoldt,Seven data sets showing a bifactor solution.
682,Bechtoldt.1,Seven data sets showing a bifactor solution.
683,Bechtoldt.2,Seven data sets showing a bifactor solution.
684,Dwyer,8 cognitive variables used by Dwyer for an example.
685,Gleser,"Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g..."
686,Gorsuch,Example data set from Gorsuch (1997) for an example factor extension.
687,Harman.5,5 socio-economic variables from Harman (1967)
688,Harman.8,"Correlations of eight physical variables (from Harman, 1966)"
689,Harman.political,Eight political variables used by Harman (1967) as example 8.17
690,Holzinger,Seven data sets showing a bifactor solution.
691,Holzinger.9,Seven data sets showing a bifactor solution.
692,Reise,Seven data sets showing a bifactor solution.
693,Schmid,12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
694,Thurstone,Seven data sets showing a bifactor solution.
695,Thurstone.33,Seven data sets showing a bifactor solution.
696,Tucker,9 Cognitive variables discussed by Tucker and Lewis (1973)
697,ability,16 ability items scored as correct or incorrect.
698,affect,Two data sets of affect and arousal scores as a function of personality and movie cond...
699,bfi,25 Personality items representing 5 factors
700,bfi.dictionary,25 Personality items representing 5 factors
701,blot,Bond's Logical Operations Test - BLOT
702,burt,11 emotional variables from Burt (1915)
703,cities,Distances between 11 US cities
704,cubits,Galton's example of the relationship between height and 'cubit' or forearm length
705,cushny,A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
706,epi,Eysenck Personality Inventory (EPI) data for 3570 participants
707,epi.bfi,13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
708,epi.dictionary,Eysenck Personality Inventory (EPI) data for 3570 participants
709,galton,Galton's Mid parent child height data
710,heights,A data.frame of the Galton (1888) height and cubit data set.
711,income,US family income from US census 2008
712,iqitems,16 multiple choice IQ items
713,msq,75 mood items from the Motivational State Questionnaire for 3896 participants
714,neo,NEO correlation matrix from the NEO_PI_R manual
715,peas,Galton's Peas
716,sat.act,"3 Measures of ability: SATV, SATQ, ACT"
717,withinBetween,An example of the distinction between within group and between group correlations
718,Bosco,Boscovich Data
719,CobarOre,Cobar Ore data
720,Mammals,Garland(1983) Data on Running Speed of Mammals
721,barro,Barro Data
722,engel,Engel Data
723,uis,UIS Drug Treatment study data
724,dietox,Growth curves of pigs in a 3x3 factorial experiment
725,koch,Ordinal Data from Koch
726,ohio,Ohio Children Wheeze Status
727,respdis,Clustered Ordinal Respiratory Disorder
728,respiratory,Data from a clinical trial comparing two treatments for a respiratory illness
729,seizure,Epiliptic Seizures
730,sitka89,Growth of Sitka Spruce Trees
731,spruce,Log-size of 79 Sitka spruce trees
732,liver,Liver related laboratory data
733,portpirie,"Rain, wavesurge and portpirie datasets."
734,rain,"Rain, wavesurge and portpirie datasets."
735,summer,"Air pollution data, separately for summer and winter months"
736,wavesurge,"Rain, wavesurge and portpirie datasets."
737,winter,"Air pollution data, separately for summer and winter months"
738,arthritis,Rheumatoid Arthritis Clinical Trial
739,housing,Homeless Data
740,bmw,Daily Log Returns on BMW Share Price
741,danish,Danish Fire Insurance Claims
742,nidd.annual,The River Nidd Data
743,nidd.thresh,The River Nidd Data
744,siemens,Daily Log Returns on Siemens Share Price
745,sp.raw,SP Data to June 1993
746,spto87,SP Return Data to October 1987
747,Dyestuff,Yield of dyestuff by batch
748,Dyestuff2,Yield of dyestuff by batch
749,InstEval,University Lecture/Instructor Evaluations by Students at ETH
750,Pastes,Paste strength by batch and cask
751,Penicillin,Variation in penicillin testing
752,VerbAgg,Verbal Aggression item responses
753,cake,Breakage Angle of Chocolate Cakes
754,cbpp,Contagious bovine pleuropneumonia
755,grouseticks,Data on red grouse ticks from Elston et al. 2001
756,sleepstudy,Reaction times in a sleep deprivation study

In [51]:
titanic = pydataset.data('titanic')

In [30]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [31]:
titanic.tail()

          class    age    sex survived
1312  3rd class  child  women       no
1313  3rd class  child  women       no
1314  3rd class  child  women       no
1315  3rd class  child  women       no
1316  3rd class  child  women       no

In [32]:
titanic.describe()

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817

In [5]:
from db import DB

In [22]:
database = DB(filename='C:\\Users\\paulo.faleiros\\AppData\\Local\\Continuum\\Anaconda3\\Lib\\site-packages\\db\\data\\chinook.sqlite', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [23]:
database.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [26]:
album_df = database.tables.Album

In [34]:
a_df = database.query('select Artist.Name, Album.Title from Album, Artist where Album.ArtistId = Artist.ArtistId')

In [35]:
a_df

,Name,Title
0,AC/DC,For Those About To Rock We Salute You
1,Accept,Balls to the Wall
2,Accept,Restless and Wild
3,AC/DC,Let There Be Rock
4,Aerosmith,Big Ones
5,Alanis Morissette,Jagged Little Pill
6,Alice In Chains,Facelift
7,AntÃ´nio Carlos Jobim,Warner 25 Anos
8,Apocalyptica,Plays Metallica By Four Cellos
9,Audioslave,Audioslave
10,Audioslave,Out Of Exile
11,BackBeat,BackBeat Soundtrack
12,Billy Cobham,The Best Of Billy Cobham
13,Black Label Society,Alcohol Fueled Brewtality Live! [Disc 1]
14,Black Label Society,Alcohol Fueled Brewtality Live! [Disc 2]
15,Black Sabbath,Black Sabbath
16,Black Sabbath,Black Sabbath Vol. 4 (Remaster)
17,Body Count,Body Count
18,Bruce Dickinson,Chemical Wedding
19,Buddy Guy,The Best Of Buddy Guy - The Millenium Collection
20,Caetano Veloso,Prenda Minha
21,Caetano Veloso,Sozinho Remix Ao Vivo
22,Chico Buarque,Minha Historia
23,Chico Science & NaÃ§Ã£o Zumbi,Afrociberdelia
24,Chico Science & NaÃ§Ã£o Zumbi,Da Lama Ao Caos
25,Cidade Negra,AcÃºstico MTV [Live]
26,Cidade Negra,Cidade Negra - Hits
27,ClÃ¡udio Zoli,Na Pista
28,Various Artists,AxÃ© Bahia 2001
29,Led Zeppelin,BBC Sessions [Disc 1] [Live]
...,...,...
317,Christopher O'Riley,SCRIABIN: Vers la flamme
318,Fretwork,Armada: Music from the Courts of England and S...
319,Berliner Philharmoniker & Herbert Von Karajan,Mozart: Symphonies Nos. 40 & 41
320,Amy Winehouse,Back to Black
321,Amy Winehouse,Frank
322,Calexico,Carried to Dust (Bonus Track Version)
323,Otto Klemperer & Philharmonia Orchestra,Beethoven: Symphony No. 6 'Pastoral' Etc.
324,Yehudi Menuhin,Bartok: Violin & Viola Concertos
325,Philharmonia Orchestra & Sir Neville Marriner,Mendelssohn: A Midsummer Night's Dream
326,"Academy of St. Martin in the Fields, Sir Nevil...",Bach: Orchestral Suites Nos. 1 - 4
327,Les Arts Florissants & William Christie,"Charpentier: Divertissements, Airs & Concerts"
328,The 12 Cellists of The Berlin Philharmonic,South American Getaway
329,Adrian Leaper & Doreen de Feis,GÃ³recki: Symphony No. 3
330,"Roger Norrington, London Classical Players",Purcell: The Fairy Queen
331,Charles Dutoit & L'Orchestre Symphonique de Mo...,The Ultimate Relexation Album
332,"Equale Brass Ensemble, John Eliot Gardiner & M...",Purcell: Music for the Queen Mary
333,Kent Nagano and Orchestre de l'OpÃ©ra de Lyon,Weill: The Seven Deadly Sins
334,Julian Bream,"J.S. Bach: Chaconne, Suite in E Minor, Partita..."
335,Berliner Philharmoniker & Herbert Von Karajan,Prokofiev: Symphony No.5 & Stravinksy: Le Sacr...
336,Martin Roscoe,"Szymanowski: Piano Works, Vol. 1"
337,GÃ¶teborgs Symfoniker & Neeme JÃ¤rvi,Nielsen: The Six Symphonies
338,Itzhak Perlman,Great Recordings of the Century: Paganini's 24...
339,Michele Campanella,Liszt - 12 Ã‰tudes D'Execution Transcendante
340,Gerald Moore,Great Recordings of the Century - Shubert: Sch...
341,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp","Locatelli: Concertos for Violin, Strings and C..."
342,Eugene Ormandy,Respighi:Pines of Rome
343,Emerson String Quartet,Schubert: The Late String Quartets & String Qu...
344,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",Monteverdi: L'Orfeo
345,Nash Ensemble,Mozart: Chamber Music
346,Philip Glass Ensemble,Koyaanisqatsi (Soundtrack from the Motion Pict...

In [43]:
copacabana = pd.read_csv('..\\data\\copacabana.csv', delimiter = ';')

In [40]:
import os
cwd = os.getcwd()

In [41]:
cwd

'C:\\Users\\paulo.faleiros\\OneDrive - Accenture\\1. Digital\\1. MDC\\1. Capability\\Training\\ML_DS_Python\\code'

In [48]:
copacabana.loc[copacabana['DistPraia'] < 100]

,Posicao,Quartos,Vagas,DistIpanema,DistPraia,DistFavela,RendaMedia,RendaMovel,RendaMovelRua,Vu2009,Mes,Idade,Tipologia,AreaConstruida,VAL_UNIT,X,Y
53,1,1.00,0.01,1248,32,303,1524600,1127711,1326156,4100,525,56.0,1,49,8939,685660.8000,7457812.190
62,1,0.01,0.01,1235,38,289,1189386,1117401,1153394,2800,792,58.0,1,24,14583,685652.2801,7457801.200
72,1,3.00,0.01,1885,81,799,1447740,1626893,1537317,2700,862,60.0,1,142,7042,685930.6040,7458388.604
79,1,1.00,0.01,2307,99,647,986211,925313,955762,2500,904,60.0,1,30,15333,686228.0500,7458711.130
80,0,1.00,0.01,2307,99,647,986211,925313,955762,2500,904,60.0,1,30,13167,686228.0500,7458711.130
81,1,0.01,0.01,2307,99,647,986211,925313,955762,2500,930,60.0,1,40,15250,686228.0500,7458711.130
86,1,4.00,0.01,1582,72,606,1203742,742088,972915,2900,573,57.0,1,177,6780,685768.5229,7458130.424
151,1,3.00,1.00,601,35,536,1524600,1512358,1518479,4100,792,58.0,1,311,11254,685603.1500,7457051.180
163,0,2.00,0.01,3075,52,581,1007098,957595,982347,2600,573,56.0,1,93,5699,686977.8600,7459139.480
180,1,4.00,1.00,2070,34,770,1524600,1231443,1378022,4100,800,55.0,1,500,10486,686101.2900,7458510.880
195,1,3.00,0.01,2631,32,806,1524600,1707651,1616126,4100,425,70.0,1,201,6965,686577.2000,7458879.630
196,1,4.00,1.00,2263,50,698,986211,981554,983883,2500,573,70.0,1,335,5672,686236.8800,7458655.710
197,1,4.00,0.01,2631,32,806,1524600,1707651,1616126,4100,864,73.0,1,197,13706,686577.2000,7458879.630
208,1,3.00,0.01,649,79,369,1083455,1176135,1129795,2200,405,54.0,1,75,5467,685521.2700,7457199.470
209,1,4.00,1.00,2390,78,669,1194735,1015488,1105112,2800,842,53.0,1,328,6555,686317.4100,7458756.380
210,1,4.00,1.00,2390,78,669,1194735,1015488,1105112,2800,567,50.0,1,328,6707,686317.4100,7458756.380
211,1,4.00,1.00,2390,78,669,1194735,1015488,1105112,2800,930,53.0,1,328,8049,686317.4100,7458756.380
212,1,4.00,1.00,2390,78,669,1194735,1015488,1105112,2800,405,50.0,1,328,3963,686317.4100,7458756.380
235,1,3.00,0.01,2686,48,821,1774855,1808457,1791656,2500,405,69.0,1,95,3525,686613.3324,7458921.554
236,1,3.00,0.01,2686,48,821,1774855,1808457,1791656,2500,525,69.0,1,85,9412,686613.3324,7458921.554
243,0,2.00,0.01,2040,91,746,1447740,1970466,1709103,2700,385,53.0,1,85,3882,686026.7705,7458514.453
303,1,2.00,0.01,3225,31,418,1524600,1199653,1362127,4100,360,52.0,1,107,4673,687144.6200,7459200.470
314,1,4.00,1.00,3201,31,443,1524600,1189176,1356888,4100,445,52.0,1,191,6806,687120.1000,7459188.460
366,0,1.00,0.01,1437,93,456,1315094,1360200,1337647,2700,801,50.0,1,34,8824,685680.0401,7458010.140
367,0,1.00,0.01,1437,93,456,1315094,1360200,1337647,2700,801,50.0,1,34,10000,685680.0401,7458010.140
400,1,1.00,0.01,589,34,573,1524600,1699814,1612207,4100,930,75.0,1,49,24490,685614.1600,7457015.750
407,1,3.00,0.01,3006,68,660,1278457,1273783,1276120,2400,825,75.0,1,81,7654,686898.4265,7459112.338
408,1,1.00,0.01,3006,68,660,1278457,1273783,1276120,2400,385,72.0,1,35,5714,686898.4265,7459112.338
413,1,3.00,0.01,2593,34,782,1524600,1763946,1644273,4100,484,50.0,1,165,8182,686539.4900,7458858.200
425,1,3.00,1.00,2292,64,682,986211,889607,937909,2500,405,50.0,1,65,6154,686248.1100,7458682.850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,1,0.01,0.01,3315,75,329,948250,974825,961538,2100,360,40.0,2,28,5357,687198.2500,7459271.660
1265,1,0.01,0.01,3315,75,329,948250,974825,961538,2100,864,43.0,1,28,13571,687198.2500,7459271.660
1266,1,0.01,0.01,3315,75,329,948250,974825,961538,2100,567,40.0,1,28,8393,687198.2500,7459271.660
1295,1,3.00,0.01,640,35,448,1524600,1523182,1523891,4100,920,72.0,1,200,10250,685579.2700,7457136.750
1300,1,4.00,1.00,601,80,447,1083455,1631774,1357615,2200,425,67.0,1,270,2778,685536.9800,7457122.910
1304,1,3.00,0.01,1200,94,234,1189386,1211957,1200672,2500,567,66.0,1,125,4000,685590.0500,7457791.450
1305,1,3.00,0.01,1200,94,234,1189386,1211957,1200672,2500,862,69.0,1,125,7920,685590.0500,7457791.450
1341,1,4.00,0.01,1277,36,326,1524600,988624,1256612,4100,509,43.0,1,224,7143,685667.6700,7457840.790
1342,1,3.00,0.01,1273,65,309,1315094,1420241,1367668,2700,567,43.0,1,150,5333,685639.9100,7457848.760
1367,1,4.00,2.00,898,34,173,1524600,1319327,1421964,4100,525,40.0,1,362,6630,685566.3100,7457466.820
1420,1,2.00,1.00,2192,84,682,1447740,1755478,1601609,2700,825,45.0,1,60,14500,686146.8300,7458624.210
1441,1,2.00,0.01,1581,92,600,1447740,762324,1105032,2700,842,71.0,1,68,9559,685749.5000,7458136.720
1463,0,3.00,0.01,1786,99,719,1447740,1309558,1378649,2700,405,38.0,1,94,6170,685852.8800,7458315.330
1521,1,5.00,3.00,3044,31,609,1524600,1168222,1346411,4100,405,34.0,1,430,5000,686965.3201,7459109.710
1522,1,4.00,4.00,3044,31,609,1524600,1168222,1346411,4100,573,34.0,1,395,7595,686965.3201,7459109.710
1532,0,3.00,2.00,1764,95,711,1447740,1514393,1481067,2700,830,34.0,1,127,12047,685843.7400,7458295.740
1550,0,4.00,3.00,944,40,155,1524600,1370221,1447411,4100,425,30.0,1,192,4583,685568.3900,7457518.610
1551,1,4.00,4.00,944,40,155,1524600,1370221,1447411,4100,484,30.0,1,205,10732,685568.3900,7457518.610
1552,0,4.00,3.00,944,40,155,1524600,1370221,1447411,4100,509,30.0,1,192,5208,685568.3900,7457518.610
1553,1,3.00,1.00,1800,75,750,1447740,1148256,1297998,2700,904,33.0,1,130,10769,685884.3000,7458317.010
1572,1,4.00,3.00,2375,93,651,1194735,1490245,1342490,2800,525,30.0,1,243,6502,686289.9200,7458754.630
1604,1,1.00,0.01,1912,51,846,1395924,1745964,1570944,2700,385,24.0,3,60,7167,685977.5283,7458395.904
1605,1,1.00,0.01,1912,51,846,1395924,1745964,1570944,2700,484,24.0,3,60,7500,685977.5283,7458395.904
1606,1,1.00,0.01,1912,51,846,1395924,1745964,1570944,2700,862,27.0,3,65,12308,685977.5283,7458395.904
1656,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,385,7.0,1,43,6977,685816.0100,7458204.550
1657,1,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,405,7.0,1,48,3750,685816.0100,7458204.550
1658,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.0,1,37,7568,685816.0100,7458204.550
1659,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,573,7.0,1,37,6216,685816.0100,7458204.550
1660,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,445,7.0,1,44,7773,685816.0100,7458204.550
1661,0,1.00,0.01,1669,69,693,1447740,1271491,1359616,2700,862,10.0,1,44,15909,685816.0100,7458204.550

In [53]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [59]:
titanic['class'].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [55]:
titanic['class'].value_counts()

3rd class    706
1st class    325
2nd class    285
Name: class, dtype: int64

In [72]:
titanic['class'].nbytes

1340

In [71]:
%%time
titanic['class'] == '3rd class'

Wall time: 501 Âµs

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
32      False
33      False
34      False
35      False
36      False
37      False
38      False
39      False
40      False
41      False
42      False
43      False
44      False
45      False
46      False
47      False
48      False
49      False
50      False
51      False
52      False
53      False
54      False
55      False
56      False
57      False
58      False
59      False
60      False
61      False
62      False
63      False
64      False
65      False
66      False
67      False
68      False
69      False
70      False
71      False
72      False
73      False
74      False
75      False
76      False
77      False
78      False
79      False
80      False
81      False
82      False
83      False
84      False
85      False
        ...
1232     True
1233     True
1234     True
1235     True
1236     True
1237     True
1238     True
1239     True
1240     True
1241     True
1242     True
1243     True
1244     True
1245     True
1246     True
1247     True
1248     True
1249     True
1250     True
1251     True
1252     True
1253     True
1254     True
1255     True
1256     True
1257     True
1258     True
1259     True
1260     True
1261     True
1262     True
1263     True
1264     True
1265     True
1266     True
1267     True
1268     True
1269     True
1270     True
1271     True
1272     True
1273     True
1274     True
1275     True
1276     True
1277     True
1278     True
1279     True
1280     True
1281     True
1282     True
1283     True
1284     True
1285     True
1286     True
1287     True
1288     True
1289     True
1290     True
1291     True
1292     True
1293     True
1294     True
1295     True
1296     True
1297     True
1298     True
1299     True
1300     True
1301     True
1302     True
1303     True
1304     True
1305     True
1306     True
1307     True
1308     True
1309     True
1310     True
1311     True
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, dtype: bool

In [61]:
# categorize: same as using Factors in R
titanic['class'] = titanic['class'].astype('category')

In [75]:
df = pd.read_csv('..\\data\\primary-results.csv')

In [76]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [79]:
df.groupby('candidate').aggregate({'votes': [min, np.mean, max]})

                votes
                  min         mean     max
candidate
 No Preference      0    23.225071     580
 Uncommitted        0     0.434343      16
Ben Carson          0   338.258238    9945
Bernie Sanders      0  2844.019501  434656
Carly Fiorina       0   139.366972    3612
Chris Christie      1   223.422018    7144
Donald Trump        0  3709.576408  179130
Hillary Clinton     0  3731.855410  590502
Jeb Bush            2   609.103226    9575
John Kasich         0  1160.052705  101217
Marco Rubio         0  1299.834051  111898
Martin O'Malley     0     7.595960     152
Mike Huckabee       2    33.787879     565
Rand Paul           2    85.646465    1633
Rick Santorum       0    18.000000     234
Ted Cruz            0  2120.191299  147721

In [80]:
df[df['votes'] == 590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57

In [81]:
from db import DemoDB

In [83]:
database = DemoDB()

Indexing schema. This will take a second...finished!

In [84]:
database.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [85]:
a_df = database.query('select Artist.Name, Album.Title from Album, Artist where Album.ArtistId = Artist.ArtistId')

In [87]:
album = database.tables.Album.all()

In [89]:
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [90]:
artist = database.tables.Artist.all()

In [91]:
artist.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [92]:
# database.query('select Artist.Name, Album.Title from Album, Artist where Album.ArtistId = Artist.ArtistId')
# do exactly the same. pd.merge searches for same column in both dataframes
album_artist = pd.merge(artist, album)

In [98]:
album.head()

   AlbumId                                  Title  Artist_Id
0        1  For Those About To Rock We Salute You          1
1        2                      Balls to the Wall          2
2        3                      Restless and Wild          2
3        4                      Let There Be Rock          1
4        5                               Big Ones          3

In [94]:
# especifying the column
album_artist = pd.merge(artist, album, on = 'ArtistId')

In [96]:
album.rename(columns={'ArtistId': 'Artist_Id'}, inplace = True)

In [101]:
album_artist = pd.merge(artist, album, left_on = 'ArtistId', right_on = 'Artist_Id').drop('Artist_Id', axis = 1)

In [102]:
album_artist.head()

   ArtistId       Name  AlbumId                                  Title
0         1      AC/DC        1  For Those About To Rock We Salute You
1         1      AC/DC        4                      Let There Be Rock
2         2     Accept        2                      Balls to the Wall
3         2     Accept        3                      Restless and Wild
4         3  Aerosmith        5                               Big Ones

In [103]:
database = DB(filename='..\\data\\logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [104]:
database.tables

Refreshing schema. Please wait...done!

+--------+-------+-------------------------+
| Schema | Table | Columns                 |
+--------+-------+-------------------------+
| public | log   | id, path, user_id, date |
+--------+-------+-------------------------+

In [105]:
log_df = database.tables.log.all()

In [111]:
log_df.head()

   id                  path  user_id                date
0   1                     /        3 2017-01-03 11:41:00
1   2              /pandas/        4 2017-01-03 11:37:00
2   3              /videos/        5 2017-01-03 10:47:00
3   4                     /        2 2017-01-03 11:51:00
4   5  /python-para-zumbis/        5 2017-01-03 10:32:00

In [110]:
log_df.dtypes

id                  int64
path               object
user_id             int64
date       datetime64[ns]
dtype: object

In [109]:
log_df['date'] = pd.to_datetime(log_df['date'], format= '%Y-%m-%d %H:%M:%S.%f')

In [112]:
log_df.set_index(['date'], inplace=True)

In [113]:
log_df.head()

                     id                  path  user_id
date
2017-01-03 11:41:00   1                     /        3
2017-01-03 11:37:00   2              /pandas/        4
2017-01-03 10:47:00   3              /videos/        5
2017-01-03 11:51:00   4                     /        2
2017-01-03 10:32:00   5  /python-para-zumbis/        5

In [114]:
log_df['2017-01-03 10:47']

                     id      path  user_id
date
2017-01-03 10:47:00   3  /videos/        5
2017-01-03 10:47:00  68  /cursos/        5
2017-01-03 10:47:00  87  /cursos/        2

In [115]:
log_df['2017-01-03 10:47':'2017-01-03 10:51']

                     id                path  user_id
date
2017-01-03 10:47:00   3            /videos/        5
2017-01-03 10:51:00  32  /django-ecommerce/        2
2017-01-03 10:51:00  37                   /        5
2017-01-03 10:51:00  46                   /        5
2017-01-03 10:48:00  64                   /        3
2017-01-03 10:47:00  68            /cursos/        5
2017-01-03 10:47:00  87            /cursos/        2
2017-01-03 10:49:00  96  /django-ecommerce/        1

In [116]:
primary_df = pd.read_csv('..\\data\\primary-results.csv')

In [117]:
primary_df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [118]:
primary_df['candidate'].unique()

array(['Bernie Sanders', 'Hillary Clinton', 'Ben Carson', 'Donald Trump',
       'John Kasich', 'Marco Rubio', 'Ted Cruz', ' Uncommitted',
       "Martin O'Malley", 'Carly Fiorina', 'Chris Christie', 'Jeb Bush',
       'Mike Huckabee', 'Rand Paul', 'Rick Santorum', ' No Preference'], dtype=object)

In [119]:
pd.pivot_table(primary_df, index=['state', 'party', 'candidate'], values=['votes'], aggfunc={'votes': np.sum})

                                             votes
state          party      candidate
Alabama        Democrat   Bernie Sanders     76399
                          Hillary Clinton   309928
               Republican Ben Carson         87517
                          Donald Trump      371735
                          John Kasich        37970
                          Marco Rubio       159802
                          Ted Cruz          180608
Alaska         Democrat   Bernie Sanders       440
                          Hillary Clinton       99
               Republican Ben Carson          2401
                          Donald Trump        7346
                          John Kasich          892
                          Marco Rubio         3318
                          Ted Cruz            7973
Arizona        Democrat   Bernie Sanders    163400
                          Hillary Clinton   235697
               Republican Donald Trump      249916
                          John Kasich        53040
                          Ted Cruz          132147
Arkansas       Democrat   Bernie Sanders     64868
                          Hillary Clinton   144580
               Republican Ben Carson         23173
                          Donald Trump      133144
                          John Kasich        15098
                          Marco Rubio       101235
                          Ted Cruz          123873
California     Democrat   Bernie Sanders   1502043
                          Hillary Clinton  1940580
               Republican Donald Trump     1174829
                          John Kasich       176620
                          Ted Cruz          144125
Colorado       Democrat   Bernie Sanders     71928
                          Hillary Clinton    49256
Connecticut    Democrat   Bernie Sanders    152410
                          Hillary Clinton   170075
               Republican Donald Trump      123367
                          John Kasich        60481
                          Ted Cruz           24969
Delaware       Democrat   Bernie Sanders     36659
                          Hillary Clinton    55950
               Republican Donald Trump       42472
                          John Kasich        14225
                          Ted Cruz           11110
Florida        Democrat   Bernie Sanders    566603
                          Hillary Clinton  1097400
               Republican Donald Trump     1077221
                          John Kasich       159412
                          Marco Rubio       636653
                          Ted Cruz          403640
Georgia        Democrat   Bernie Sanders    214332
                          Hillary Clinton   543008
               Republican Ben Carson         80503
                          Donald Trump      501707
                          John Kasich        72303
                          Marco Rubio       315979
                          Ted Cruz          305109
Hawaii         Democrat   Bernie Sanders     23531
                          Hillary Clinton    10127
               Republican Donald Trump        5677
                          John Kasich         1413
                          Marco Rubio         1759
                          Ted Cruz            4379
Idaho          Democrat   Bernie Sanders     18640
                          Hillary Clinton     5065
               Republican Donald Trump       62478
                          John Kasich        16517
                          Marco Rubio        35347
                          Ted Cruz          100942
Illinois       Democrat   Bernie Sanders    975659
                          Hillary Clinton  1012175
               Republican Donald Trump      551464
                          John Kasich       279778
                          Marco Rubio       123066
                          Ted Cruz          430395
Indiana        Democrat   Bernie Sanders    335256
                          Hillary Clinton   303382
               Republican Donald Trump      590460
                          John Kasich        83913
                          Ted Cruz          406280
Iowa           Democrat    Uncommitted          43
                          Bernie Sanders     69452
                          Hillary Clinton    69733
                          Martin O'Malley      752
               Republican Ben Carson         17393
                          Carly Fiorina       3485
...                                            ...
Oklahoma       Republican John Kasich        16515
                          Marco Rubio       119562
                          Ted Cruz          157941
Oregon         Democrat   Bernie Sanders    320746
                          Hillary Clinton   251739
               Republican Donald Trump      240804
                          John Kasich        59096
                          Ted Cruz           61590
Pennsylvania   Democrat   Bernie Sanders    719955
                          Hillary Clinton   918689
               Republican Donald Trump      892702
                          John Kasich       304793
                          Ted Cruz          340201
Rhode Island   Democrat   Bernie Sanders     66720
                          Hillary Clinton    52493
               Republican Donald Trump       39059
                          John Kasich        14929
                          Ted Cruz            6393
South Carolina Democrat   Bernie Sanders     95977
                          Hillary Clinton   271514
               Republican Ben Carson         53326
                          Donald Trump      239851
                          Jeb Bush           57863
                          John Kasich        56206
                          Marco Rubio       165881
                          Ted Cruz          164790
South Dakota   Democrat   Bernie Sanders     25958
                          Hillary Clinton    27046
               Republican Donald Trump       44866
                          John Kasich        10659
                          Ted Cruz           11352
Tennessee      Democrat   Bernie Sanders    120333
                          Hillary Clinton   245304
               Republican Ben Carson         64846
                          Donald Trump      332702
                          John Kasich        45243
                          Marco Rubio       180989
                          Ted Cruz          211159
Texas          Democrat   Bernie Sanders    475561
                          Hillary Clinton   935080
               Republican Ben Carson        117780
                          Donald Trump      757618
                          John Kasich       120257
                          Marco Rubio       502223
                          Ted Cruz         1239370
Utah           Democrat   Bernie Sanders     61333
                          Hillary Clinton    15666
               Republican Donald Trump       24864
                          John Kasich        29773
                          Ted Cruz          122567
Vermont        Democrat   Bernie Sanders    115863
                          Hillary Clinton    18335
               Republican Ben Carson          2544
                          Donald Trump       19968
                          John Kasich        18543
                          Marco Rubio        11778
                          Ted Cruz            5929
Virginia       Democrat   Bernie Sanders    275507
                          Hillary Clinton   503358
               Republican Ben Carson         60093
                          Donald Trump      355960
                          John Kasich        96519
                          Marco Rubio       327042
                          Ted Cruz          173193
Washington     Democrat   Bernie Sanders     19159
                          Hillary Clinton     7140
               Republican Donald Trump      403003
                          John Kasich        52129
                          Ted Cruz           55719
West Virginia  Democrat   Bernie Sanders    123860
                          Hillary Clinton    86354
               Republican Donald Trump      156245
                          John Kasich        13685
                          Ted Cruz           18208
Wisconsin      Democrat   Bernie Sanders    567936
                          Hillary Clinton   432767
               Republican Donald Trump      386370
                          John Kasich       155200
                          Ted Cruz          531129
Wyoming        Democrat   Bernie Sanders       156
                          Hillary Clinton      124
               Republican Donald Trump          70
                          John Kasich            0
                          Marco Rubio          189
                          Ted Cruz             644

[290 rows x 1 columns]

In [120]:
primary_df['rank'] = primary_df.groupby(['county', 'party'])['votes'].rank(ascending=False)

In [121]:
primary_df[primary_df['county'] == 'Los Angeles']

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,rank
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,2.0
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,1.0
1519,California,CA,Los Angeles,6037.0,Republican,Donald Trump,179130,0.698,1.0
1520,California,CA,Los Angeles,6037.0,Republican,John Kasich,33559,0.131,2.0
1521,California,CA,Los Angeles,6037.0,Republican,Ted Cruz,30775,0.120,3.0

In [123]:
primary_df_groupby = primary_df.groupby(['state', 'party', 'candidate']).sum()
del primary_df_groupby['fips']
del primary_df_groupby['fraction_votes']
primary_df_groupby.reset_index(inplace=True)
primary_df_groupby.head(10)

     state       party        candidate   votes    rank
0  Alabama    Democrat   Bernie Sanders   76399   555.0
1  Alabama    Democrat  Hillary Clinton  309928   266.0
2  Alabama  Republican       Ben Carson   87517   966.0
3  Alabama  Republican     Donald Trump  371735   390.0
4  Alabama  Republican      John Kasich   37970  1340.0
5  Alabama  Republican      Marco Rubio  159802   805.5
6  Alabama  Republican         Ted Cruz  180608   680.0
7   Alaska    Democrat   Bernie Sanders     440    40.0
8   Alaska    Democrat  Hillary Clinton      99    80.0
9   Alaska  Republican       Ben Carson    2401   150.5

In [124]:
primary_df_groupby['rank'] = primary_df_groupby.groupby(
['state', 'party'])['votes'].rank(ascending=False)

In [125]:
primary_df_groupby.head(10)

     state       party        candidate   votes  rank
0  Alabama    Democrat   Bernie Sanders   76399   2.0
1  Alabama    Democrat  Hillary Clinton  309928   1.0
2  Alabama  Republican       Ben Carson   87517   4.0
3  Alabama  Republican     Donald Trump  371735   1.0
4  Alabama  Republican      John Kasich   37970   5.0
5  Alabama  Republican      Marco Rubio  159802   3.0
6  Alabama  Republican         Ted Cruz  180608   2.0
7   Alaska    Democrat   Bernie Sanders     440   1.0
8   Alaska    Democrat  Hillary Clinton      99   2.0
9   Alaska  Republican       Ben Carson    2401   4.0

In [126]:
pd.pivot_table(primary_df_groupby, index=['state', 'party', 'candidate'], values=['rank', 'votes'])

                                           rank    votes
state          party      candidate
Alabama        Democrat   Bernie Sanders    2.0    76399
                          Hillary Clinton   1.0   309928
               Republican Ben Carson        4.0    87517
                          Donald Trump      1.0   371735
                          John Kasich       5.0    37970
                          Marco Rubio       3.0   159802
                          Ted Cruz          2.0   180608
Alaska         Democrat   Bernie Sanders    1.0      440
                          Hillary Clinton   2.0       99
               Republican Ben Carson        4.0     2401
                          Donald Trump      2.0     7346
                          John Kasich       5.0      892
                          Marco Rubio       3.0     3318
                          Ted Cruz          1.0     7973
Arizona        Democrat   Bernie Sanders    2.0   163400
                          Hillary Clinton   1.0   235697
               Republican Donald Trump      1.0   249916
                          John Kasich       3.0    53040
                          Ted Cruz          2.0   132147
Arkansas       Democrat   Bernie Sanders    2.0    64868
                          Hillary Clinton   1.0   144580
               Republican Ben Carson        4.0    23173
                          Donald Trump      1.0   133144
                          John Kasich       5.0    15098
                          Marco Rubio       3.0   101235
                          Ted Cruz          2.0   123873
California     Democrat   Bernie Sanders    2.0  1502043
                          Hillary Clinton   1.0  1940580
               Republican Donald Trump      1.0  1174829
                          John Kasich       2.0   176620
                          Ted Cruz          3.0   144125
Colorado       Democrat   Bernie Sanders    1.0    71928
                          Hillary Clinton   2.0    49256
Connecticut    Democrat   Bernie Sanders    2.0   152410
                          Hillary Clinton   1.0   170075
               Republican Donald Trump      1.0   123367
                          John Kasich       2.0    60481
                          Ted Cruz          3.0    24969
Delaware       Democrat   Bernie Sanders    2.0    36659
                          Hillary Clinton   1.0    55950
               Republican Donald Trump      1.0    42472
                          John Kasich       2.0    14225
                          Ted Cruz          3.0    11110
Florida        Democrat   Bernie Sanders    2.0   566603
                          Hillary Clinton   1.0  1097400
               Republican Donald Trump      1.0  1077221
                          John Kasich       4.0   159412
                          Marco Rubio       2.0   636653
                          Ted Cruz          3.0   403640
Georgia        Democrat   Bernie Sanders    2.0   214332
                          Hillary Clinton   1.0   543008
               Republican Ben Carson        4.0    80503
                          Donald Trump      1.0   501707
                          John Kasich       5.0    72303
                          Marco Rubio       2.0   315979
                          Ted Cruz          3.0   305109
Hawaii         Democrat   Bernie Sanders    1.0    23531
                          Hillary Clinton   2.0    10127
               Republican Donald Trump      1.0     5677
                          John Kasich       4.0     1413
                          Marco Rubio       3.0     1759
                          Ted Cruz          2.0     4379
Idaho          Democrat   Bernie Sanders    1.0    18640
                          Hillary Clinton   2.0     5065
               Republican Donald Trump      2.0    62478
                          John Kasich       4.0    16517
                          Marco Rubio       3.0    35347
                          Ted Cruz          1.0   100942
Illinois       Democrat   Bernie Sanders    2.0   975659
                          Hillary Clinton   1.0  1012175
               Republican Donald Trump      1.0   551464
                          John Kasich       3.0   279778
                          Marco Rubio       4.0   123066
                          Ted Cruz          2.0   430395
Indiana        Democrat   Bernie Sanders    1.0   335256
                          Hillary Clinton   2.0   303382
               Republican Donald Trump      1.0   590460
                          John Kasich       3.0    83913
                          Ted Cruz          2.0   406280
Iowa           Democrat    Uncommitted      4.0       43
                          Bernie Sanders    2.0    69452
                          Hillary Clinton   1.0    69733
                          Martin O'Malley   3.0      752
               Republican Ben Carson        4.0    17393
                          Carly Fiorina     7.0     3485
...                                         ...      ...
Oklahoma       Republican John Kasich       5.0    16515
                          Marco Rubio       3.0   119562
                          Ted Cruz          1.0   157941
Oregon         Democrat   Bernie Sanders    1.0   320746
                          Hillary Clinton   2.0   251739
               Republican Donald Trump      1.0   240804
                          John Kasich       3.0    59096
                          Ted Cruz          2.0    61590
Pennsylvania   Democrat   Bernie Sanders    2.0   719955
                          Hillary Clinton   1.0   918689
               Republican Donald Trump      1.0   892702
                          John Kasich       3.0   304793
                          Ted Cruz          2.0   340201
Rhode Island   Democrat   Bernie Sanders    1.0    66720
                          Hillary Clinton   2.0    52493
               Republican Donald Trump      1.0    39059
                          John Kasich       2.0    14929
                          Ted Cruz          3.0     6393
South Carolina Democrat   Bernie Sanders    2.0    95977
                          Hillary Clinton   1.0   271514
               Republican Ben Carson        6.0    53326
                          Donald Trump      1.0   239851
                          Jeb Bush          4.0    57863
                          John Kasich       5.0    56206
                          Marco Rubio       2.0   165881
                          Ted Cruz          3.0   164790
South Dakota   Democrat   Bernie Sanders    2.0    25958
                          Hillary Clinton   1.0    27046
               Republican Donald Trump      1.0    44866
                          John Kasich       3.0    10659
                          Ted Cruz          2.0    11352
Tennessee      Democrat   Bernie Sanders    2.0   120333
                          Hillary Clinton   1.0   245304
               Republican Ben Carson        4.0    64846
                          Donald Trump      1.0   332702
                          John Kasich       5.0    45243
                          Marco Rubio       3.0   180989
                          Ted Cruz          2.0   211159
Texas          Democrat   Bernie Sanders    2.0   475561
                          Hillary Clinton   1.0   935080
               Republican Ben Carson        5.0   117780
                          Donald Trump      2.0   757618
                          John Kasich       4.0   120257
                          Marco Rubio       3.0   502223
                          Ted Cruz          1.0  1239370
Utah           Democrat   Bernie Sanders    1.0    61333
                          Hillary Clinton   2.0    15666
               Republican Donald Trump      3.0    24864
                          John Kasich       2.0    29773
                          Ted Cruz          1.0   122567
Vermont        Democrat   Bernie Sanders    1.0   115863
                          Hillary Clinton   2.0    18335
               Republican Ben Carson        5.0     2544
                          Donald Trump      1.0    19968
                          John Kasich       2.0    18543
                          Marco Rubio       3.0    11778
                          Ted Cruz          4.0     5929
Virginia       Democrat   Bernie Sanders    2.0   275507
                          Hillary Clinton   1.0   503358
               Republican Ben Carson        5.0    60093
                          Donald Trump      1.0   355960
                          John Kasich       4.0    96519
                          Marco Rubio       2.0   327042
                          Ted Cruz          3.0   173193
Washington     Democrat   Bernie Sanders    1.0    19159
                          Hillary Clinton   2.0     7140
               Republican Donald Trump      1.0   403003
                          John Kasich       3.0    52129
                          Ted Cruz          2.0    55719
West Virginia  Democrat   Bernie Sanders    1.0   123860
                          Hillary Clinton   2.0    86354
               Republican Donald Trump      1.0   156245
                          John Kasich       3.0    13685
                          Ted Cruz          2.0    18208
Wisconsin      Democrat   Bernie Sanders    1.0   567936
                          Hillary Clinton   2.0   432767
               Republican Donald Trump      2.0   386370
                          John Kasich       3.0   155200
                          Ted Cruz          1.0   531129
Wyoming        Democrat   Bernie Sanders    1.0      156
                          Hillary Clinton   2.0      124
               Republican Donald Trump      3.0       70
                          John Kasich       4.0        0
                          Marco Rubio       2.0      189
                          Ted Cruz          1.0      644

[290 rows x 2 columns]